/* FrontPage.module.css */
* {
  font-family: 'Inter', sans-serif;
 }

.container {
  padding-top: 150px;
  padding-bottom: 150px;
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
}

.textContainer {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  border-width: 4px;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 24px;
  animation: fade-up 0.9s;

  color: rgb(60, 60, 60);
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  animation: fade-up 1s;
}

.button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: white;

  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.buttonText {
  font-family: 'Inter', sans-serif;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .textContainer {
    margin-bottom: 20px;
    text-align: left;
    width: 84%;
  }

  .heading {
    font-size: 1.8rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .button {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 1.5rem; /* Scale down further for small screens */
  }

  .paragraph {
    font-size: 0.8rem; /* Smaller font size */
  }

  .button {
    width: 90px; /* Even smaller button for ultra-small devices */
    height: 35px;
    font-size: 0.8rem;
  }
}
