* {
  font-family: 'Inter', sans-serif;
}
.project {
  border: 0.5px solid grey;
  width: 300px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2% 2% 0 0;
  margin-top: 4%;

  transition: all 0.3s ease;
}

.link {
  color: inherit;
  text-decoration: none;
}

.project:hover {
  transition: all 0.3s ease;
  filter: brightness(94%);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 300px;
  height: 150px;
  border-radius: 2% 2% 0% 0%;
}

.title {
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
  font-size: 1.0rem;
  margin-top: 4%;
  width: 92%;
  font-weight: 500;
}

.description {
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
  margin-top: 4%;
  font-size: 0.6rem;
  color: #666;
}

.technologies {
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0.6rem;
  display: flex;
  width: 100%;
  margin-bottom: 0.4rem;
}

.tech {
  margin-right: 4%;
  background-color: rgb(230, 230, 230);
  padding: 8px;
  border-radius: 5px;
  font-size: 0.5rem;
  height: fit-content;
}
