* {
  font-family: 'Inter', sans-serif;
}

.container {
  border: 1px solid grey;
  width: 350px;
  height: 320px;
  background-color: white;
  align-items: center;
  border-radius: 2% 2% 0 0;
  margin-top: 4%;

  transition: all 0.3s ease;
}

.link {
  color: inherit;
  text-decoration: none;
}

.container:hover {
  transition: all 0.3s ease;
  filter: brightness(96%);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: none;
}

.image {
  width: 350px;
  height: 175px;
  border-radius: 1% 1% 0% 0%;
}

.title {
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 4%;
  width: 92%;
  font-weight: 500;
}

.description {
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
  margin-top: 4%;
  font-size: 0.8rem;
  color: #666;
  height: 12%;
}

.technologies {
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0.6rem;
  display: flex;
  width: 100%;
  margin-bottom: 0.4rem;
}

.tech {
  margin-right: 4%;
  background-color: rgb(230, 230, 230);
  padding: 8px;
  border-radius: 5px;
  font-size: 0.6rem;
  height: fit-content;
}

.hoverBox {
  padding: 5px 10px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 5px;
  pointer-events: none; /* Prevent interference with mouse events */
  white-space: nowrap;
  z-index: 1000;

  transition: position 0.3s ease;
}

.view {
  color: rgb(200, 200, 200);
  font-size: 12px;
}

.icon {
  color: rgb(200, 200, 200);
  font-size: 16px;
  margin-left: 4px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 1% 1% 0 0;
  }

  .image {
    width: 250px;
    height: 125px;
    margin: 0;
  }

  .tech {
    margin-right: 2%;
    padding: 4px;
  }

  .title {
    margin-top: 2%;
    font-size: 0.9rem;
  }

  .description {
    margin-top: 2%;
    font-size: 0.58rem;
  }

}

@media screen and (max-width: 604px) {
  .container {
    width: 200px;
    height: 200px;
    margin-top: 2%;
    border-radius: 1% 1% 0 0;
  }

  .image {
    width: 200px;
    height: 100px;
    margin: 0;
  }

  .tech {
    font-size: 0.4rem;
  }

  .title {
    margin-top: 2%;
    font-size: 0.8rem;
  }

  .description {
    margin-top: 2%;
    font-size: 0.58rem;
  }

}
