.projectContainer {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: fit-content;
  box-sizing: border-box;
}

.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 19px;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12%;
}

.heading {
  color: black;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2%;
}

@media screen and (max-width: 480px) {
  .projectContainer {
    padding: 0 10px; /* Compact padding for very small devices */
    margin-top: 1%; /* Adjust margin for tight screens */
    width: 100%;
  }

  .projectList {
    grid-template-columns: repeat(300px); /* Compact column size for smaller phones */
    gap: 8px; /* Tighten gap for better fit */
    justify-content: center;
  }

  .heading {
    font-size: 1.3rem; /* Further reduce font size for smaller screens */
    margin-top: 2%;
    text-align: center;
  }
}
