.projectContainer {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: fit-content;
  box-sizing: border-box;
}

.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 19px;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12%;
}

.heading {
  color: black;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 2%;
}
