.container {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.contentContainer {
  margin: 0 auto;
  width: 75%;
  height: fit-content;
}

.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-content: space-between;
  height: fit-content;
  box-sizing: border-box;
}

.heading {
  color: black;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contentContainer {
    margin-top: 1%; 
    width: 84%;
  }

  .projectList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 10px;
  }

  .heading {
    font-size: 1.3rem;
    margin-top: 2%;
  }
  
}

@media screen and (max-width: 604px) {
  .contentContainer {
    padding: 0 8px;
  }

  .projectList {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 4px;
  }
}

@media screen and (max-width: 500px) {
  .contentContainer {
    padding: 0 8px;
  }

  .projectList {
    margin: 0 auto;
    width: fit-content;
  }
}
