@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.home-text {
  font-family: 'Lato';
  animation: fade-up 0.9s;
}

.home-images {
  animation: fade-up 1s;
}

.section2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url('../../assets/homepage/section2bg.jpg');
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: grid;
}
