/* FrontPage.module.css */
* {
  font-family: 'Lato', sans-serif;
 }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.textContainer {
  flex: 1;
  padding-right: 40px;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fade-up 0.9s;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  animation: fade-up 1s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
