/* src/components/Header/Header.css */
.header-text {
  font-family: 'Lato', sans-serif;  
  font-weight: 300;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
}

.logo a {
  font-size: 1.0rem;
  font-weight: 500;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav ul li a:hover {
  color: #dddddd;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1.0rem;
  display: inline-block;
  position: relative;
}

.nav ul li a:hover::after {
  transform: scaleX(1);
}

.nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  top: 5;
  bottom: 0;
  left: 0;
  background-color: #dddddd;
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

li:nth-child(1), a:nth-child(1) {
  animation: fade-up 0.5s;  
}

li:nth-child(2) {
  animation: fade-up 0.7s;  
}

li:nth-child(3) {
  animation: fade-up 0.9s;  
}
