/* src/components/Header/Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.scrolled {
  color: rgba(250, 250, 250, 0.9);
  transition: color 0.2s ease-in-out;
}

.notScrolled {
  color: black;
  transition: color 0.2s ease-in-out;
}

/* Text styles - applied to both logo and nav links */
.headerText {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  width: 50px;
  font-size: 1rem;
}

/* Logo specific styles */
.logo {
  font-weight: 600;
}

.logo:hover {
  color: #555;
}

/* Navigation link styles */
.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: fit-content;
  justify-content: center;
  gap: 2rem;
}

.navLink {
  position: relative;
}

/* Hover effects */
.navLink:hover {
  color: #555 !important;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.navLink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dddddd;
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

/* Animations */
.fadeUp1 {
  animation: fadeUp 0.5s forwards;
}

.fadeUp2 {
  animation: fadeUp 0.7s forwards;
}

.fadeUp3 {
  animation: fadeUp 0.9s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.percentageDisplay {
  width: 50px;
  z-index: 1001;
  transition: width 0.1s linear;
  text-align: center;
}
