/* AboutSection.module.css */
* {
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 150px;
  margin: 0;
  height: fit-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url('../../assets/homepage/section2bg.jpg');
  background-size: cover;
  display: grid;
}

.smallHeading {
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

.textContainer {
  height: fit-content;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mainText {
  text-align: center;
  font-size: 32px;
  color: white;
}

.projectContainer {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  gap: 20px;
  justify-content: center;
}
