.footerText {
  color: black;
  font-family: 'Inter', sans-serif;
}

.footerContainer {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white; 
  align-items: center;
}

.iconContainer {
  border: 1px solid black;
}

.icon {
  font-size: 32px;
  color: black;
  margin-right: 8px;
}

.icon:hover {
  color: grey;
  transition: color 0.3s ease;
}
