.footer-text {
  color: black;
  font-family: 'Lato';
}

.footer-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white; 
  align-items: center;
}
