.footerext {
  color: black;
  font-family: 'Inter', sans-serif;
}

.footerContainer {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white; 
  align-items: center;
}

.iconContainer {
  border: 1px solid black;
}
