/* AboutSection.module.css */
* {
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 150px;
  height: fit-content;
  background-size: cover;
  background-color: rgb(240, 240, 240);
  display: grid;
  align-items: center;
}

.heading {
  color: black;
  font-size: 2.5rem;
  text-align: left;
}

.textContainer {
  height: fit-content;
  width: 1200px;
  margin: 0 auto;
}

.contentContainer {
  margin-top: 32px;
  width: 100%;
}

.formWrapper {
  width: 1200px;
  align-items: left;
}

