/* AboutSection.module.css */
* {
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 150px;
  height: fit-content;
  background-size: cover;
  background-color: rgb(240, 240, 240);
  display: grid;
  align-items: center;
}

.heading {
  color: black;
  font-size: 2.5rem;
  text-align: left;
}

.textContainer {
  height: fit-content;
  width: 1200px;
  margin: 0 auto;
}

.contentContainer {
  justify-content: space-between;
  margin-top: 32px;
  display: flex;
  width: 100%;
}

.mainText {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: black;
  width: 50%;
}

.skills {
  width: 40%;
  background: rgb(230, 230, 230);
  padding: 24px;
}

.skillsTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2%;
}

.skillsContainer {
  display: flex;
  justify-content: space-between;
}

.skillsList {
  width: 50%;
  list-style: none;
}

.skillsIcons {
  font-size: 14px;
}

li {
  align-items: center;
  display: flex;
}

.linkIcons {
  font-size: 32px;
  color: black;
  margin-right: 8px;
}

.linkIcons:hover {
  color: grey;
  transition: color 0.3s ease;
}

.icons {
  margin-top: 32px;
}
